{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="aircraft" class="box" style="padding-bottom: 15px">
                <div class="box-header" style="margin-left: 25px">
                    <h3 class="box-title">{{ contentTitle }}</h3>
                </div>

                {% for message in app.flashes('success') %}
                    <div id="flash-msg" class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="card" style="margin-left: 30px;">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Change aircraft location data</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'method': 'POST'}) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.type) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_row(form.latitude) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_row(form.longitude) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_row(form.altitude) }}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {{ form_row(form.heading) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
