{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div id="log" class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ contentTitle }}<br>Total items: [{{ totalItems }}]</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-condensed">
                        <tbody>
                        <tr class="text-centar">
                            <th class="text-center">#</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Aircraft</th>
                            <th class="text-center">Ground Crew</th>
                            <th class="text-center">Position</th>
                            <th class="text-center">Time Of Change</th>
                            <th class="text-center">State</th>
                        </tr>
                        {% for log in logs %}
                            <tr>
                                {% if log.state == 'accepted' %}
                                     {% set marker = 'success' %}
                                {% else %}
                                    {% set marker = 'danger' %}
                                {% endif %}
                                <td class="text-center"> {{ log.id }}</td>
                                <td class="text-center"> {{ log.name }} </td>
                                <td class="text-center"> {{ log.aircraft.callSign }} </td>
                                <td class="text-center"> {{ log.groundCrew.name }} </td>
                                <td class="text-center"> {{ log.position }} </td>
                                <td class="text-center"> {{ log.timeOfChange|date('Y-m-d H:i:s') }} </td>
                                <td class="text-center"><span class="label label-{{ marker }}"> {{ log.state|upper }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="{{ app.request.pathinfo }}?page={{ currentPage - 1 }}">«</a></li>
                            {% for i in 1..totalPages %}
                                <li><a href="{{ app.request.pathinfo }}?page={{ i }}" {% if i == currentPage %} style="font-weight: bold" {% endif %}>{{ i }}</a></li>
                            {% endfor %}
                            <li><a href="{{ app.request.pathinfo }}?page={{ currentPage + 1 }}">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-right">
                        <a href="{{ path('dashboard') }}" class="btn btn-primary btn-md">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
